<div class="container" >
    <div class="title"> 
        <h3>Search GitHub User</h3>
    </div>
    <div class="table-users">
        <table>
            <tr>
            <th>Login</th>
            <th>URL</th>
            <th>Repos</th>
            </tr>
        </table>
        <% if !@profiles.nil? && @profiles.count > 0 %>
        <% @profiles.each do |profile| %>
        <tr>
            <td><%= profile.login%></td>
            <td><%= profile.url%></td>
            <td><%= profile.repos%></td>
            </tr>
        <% end %>
        <% end %>
    </div>
</div>

