@import "bootstrap";

.btn-info {
    width: 100px;
    height: 38px;
    border-radius: 8px;
    border: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    padding: 10px 0;
}

.search-form {
    padding: 10px 0;
}

.display-info {
    padding: 10px 0;
}